/* src/components/ConfirmModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .para{
    color: #007bff;
  }
  .modal-box {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-btn, .cancel-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .confirm-btn {
    background-color: #007bff;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ccc;
  }
  